/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--body-background-color);
}

.header {
position: relative;
padding: 10px;
background-image: url("../images/cover-image-dark.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.header__rec {
position: absolute;
display: flex;
align-items: center;
gap: 10px;
top: 10px;
right: 19px;
font-family: 'IBM Plex mono', Arial, sans-serif;
font-size: 18px;
line-height: 25px;
color: var(--decor-item-dot-color);
font-weight: normal;
}

.header__rec::after {
  content: "";
  display: flex;
  width: 9px;
  height: 9px;
  background-color: var(--decor-item-dot-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decor-item-dot-color);
}

.header::after, .footer::after {
 content: "";
 display: flex;
 position: absolute;
 width: 25px;
 height: 25px;
 border-inline-start: 1px solid var(--accent-color);
 border-block-end: 1px solid var(--accent-color);
 left: 0px;
 bottom: 0px;
 margin-bottom: 10px;
 margin-left: 10px;
 }

.header::before, .footer::before {
  content: "";
  display: flex;
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  top: 0px;
  right: 0px;
  margin-top: 10px;
  margin-right: 10px;
}

.header__title {
font-family: 'IBM Plex mono', Arial, sans-serif;
font-weight: bold;
font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
line-height: 95.7px;
color: var(--header-title-color);
text-shadow: 4px 4px 0 var(--accent-color);
margin-top: 65px;
margin-bottom: 56px;
}

.header__discription {
font-family: 'IBM Plex mono', Arial, sans-serif;
font-weight: bold;
font-size: 18px;
line-height: 23.4px;
color: var(--title-color);
margin-bottom: 55px;
}

.title-decor {
background-color: var(--title-decor-color);
}

.header__theme-menu {
display: flex;
justify-content: end;
margin-top: 60px;
}

.header__theme-menu-button {
background-color: transparent;
font-family: 'IBM Plex mono', Arial, sans-serif;
font-size: 18px;
font-weight: normal;
border: 1px solid transparent;
text-transform: lowercase;
color: var(--theme-buttons-color);
padding: 1.5px 13px;
cursor: pointer;
}

.header__theme-menu-button:hover {
border-color: var(--theme-button-hover-color);
}

.header__theme-menu-button:focus-visible {
border-bottom: 1px solid var(--theme-button-focus-color);
outline: none;
}

.header__theme-menu-item:not(:last-child) {
margin-bottom: 10px;
}

.header__theme-menu-button_active {
border: 1px solid var(--theme-menu-button_active-color);
pointer-events: none
}

.main-content {
  padding: 0px 10px;
}

.question-title {
  margin-bottom: 20px;
  font-family: 'IBM Plex mono', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--question-title-color);
  line-height: 23.4px;
}

.article:first-child {
  margin-top: 40px;
}

.article {
  margin-bottom: 50px;
}

.text-title {
  margin-bottom: 10px;
  font-family: 'IBM Plex mono', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-title-color);
  background: var(--text-title-background-color);
  line-height: 23.4px;
}

.article .text-paragraph:not(:last-of-type) {
  margin-bottom: 20px;
}

.article-container .article-container__item:not(:last-child) .text-paragraph {
  margin-bottom: 20px;
}

.text-paragraph {
  font-family: 'IBM Plex mono', Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--text-paragraph-color);
  line-height: 23.4px;;
}

.text-subtitle {
  margin-bottom: 10px;
  font-family: 'IBM Plex mono', Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--text-title-color);
  background: var(--text-title-background-color);
  line-height: 23.4px;
}

.text-title_increased-margin {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 1.5px 1.5px var(--text-link-shadow);
  
}

.link:hover {
  border-bottom: 1px solid var(--border-link-color);
}

.link:focus-visible {
  border: 1px solid var(--border-link-color);
  outline: none;
}

.gallery-container {
  padding: 0px 10px;
  display: grid;
  gap: 10px;
}

.gallery-image {
  width: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 668px;
  padding: 0px 10px;
  margin-top: 40px;
}

.footer-title {
  font-family: 'IBM Plex mono', Arial, sans-serif;
  font-size: 116px;
  font-weight: bold;
  line-height: 95.7px;
  color: var(--text-footer-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media screen and (min-width: 768px) {
.header {
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 20px;
}

.header__theme-menu {
  margin-top: 168px;
}

.header__title {
  margin-top: 173px;
  margin-bottom: 162px;
}

.header__discription {
  width: 364px;
  margin-left: auto;
  margin-bottom: 175px;
}

.article {
  margin-bottom: 79px;
}

.article:first-child {
  margin-top: 60px;
}

.article:first-of-type, .article:last-of-type {
  display: grid;
  gap: 20px;
  grid-template-columns: 236px 1fr;
}

.main-content {
  padding: 0px 20px;
}

.question-title {
  max-width: 236px;
}

.gallery-text-title {
  margin-bottom: 20px;
}

.gallery-container {
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 192px 230px 318px;
  grid-template-areas: "sunset sunset ice-cream"
                       "tape books ice-cream"
                       "tape street street";
  gap: 20px;
}

.gallery-image {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  min-height: 1024px;
  padding: 0 20px;
  margin-top: 60px;
}

.header::before, .footer::before {
  margin-top: 20px;
  margin-right: 20px
}

.header::after, .footer::after {
  margin-bottom: 20px;
  margin-left: 20px;
}

.header__rec {
  top: 20px;
  right: 29px;
}
}

@media screen and (min-width: 1024px) {
.header {
  padding-right: 0px;
  padding-top: 18px;
}

 .header__theme-menu {
  margin-top: 0px;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__title {
  font-size: 157px;
  margin-top: 281px;
  margin-bottom: 130px;
}

.header__discription {
  width: 491px;
  margin-bottom: 125px;
  margin-right: 20px;
}

.question-title {
  max-width: 315px;
}

.article:first-of-type, .article:last-of-type {
  grid-template-columns: 315px 1fr;
}

.article-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.article {
  margin-bottom: 80px;
}

.gallery-container {
  grid-template-rows: 260px 315px 428px;
  margin-bottom: 60px;
}

.footer {
   min-height: 768px;
   margin-top: 64px;
}

.footer-title {
  font-size: 157px;
}

}